/* COLORES */

:root {
	--color1: pink;
	--color2: mediumvioletred;
	--color3: purple;
}


/* FUENTES */

@font-face {
	font-family: "Web Symbols";
	src: url(../fuentes/WebSymbols-Regular.otf);
	font-weight: normal;
	font-style: normal;
}


/* ESTILOS GENERALES */

body { 
	padding-right: 0px !important;
} 
.modal-open { 
	overflow-y: auto;
} /*Evita el estrechamiento de la página al abrir un modal*/

.oculto {
	display: none;
}

.texto-shadows-slategray { 
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	color: slategray;
} /*Varios títulos y subtítulos: "[...] canciones para definir [...]", "Bienvenido a tu página personal", "Tus estadísticas" y "Tus datos personales"*/ 

.puntos {
	text-overflow: ellipsis;
	white-space: nowrap; 
	overflow: hidden;
}
.puntos:hover {
	overflow: visible;
	z-index: 1;
} /*Trunca el texto con puntos suspensivos cuando es demasiado largo*/

.ancho-min-0px {
	min-width: 0;
}
.ancho-max-videos {
	max-width: 350px;
}
.ancho-max-comentarios {
	max-width: 434px;
} 
.ancho-max-formulario {
	max-width: 512px;
}
.ancho-max-mensajes {
	max-width: 540px;
} 
.ancho-max-cabecera {
	max-width: 576px;
} /*Evita el problema de funcionamiento del truncado de textos*/

.portada:hover, .boton-subestilo:hover {
	cursor: pointer;
}

.icono {
	font-family: "Web Symbols";
} /*Convierte letras en iconos*/

.h100vh {
	height: 100vh;
} /*Hace que una caja ocupe el 100 % de la altura de pantalla*/


/* BOTONES Y ENLACES */

.boton-volver {
	border: 0;
	padding: 0;
  	margin: 0;
	background: none;
	color: var(--color2);
	transition: all 0.1s ease;
}
.boton-volver:hover {
	font-weight: bold;
	transform: scale(1.1, 1.1);
}
.boton-volver:active {
	color: var(--color3);
}
.boton-volver:focus {
	outline: none;
	box-shadow: none;
} /*Botón para volver a la página anterior*/

.boton-enlace {
	border: 0;
	padding: 0;
  	margin: 0;
	background: none;
	transition: all 0.25s ease;
}
.boton-enlace:hover {
	color: var(--color2);
}
.boton-enlace:active {
	color: var(--color3);
}
.boton-enlace:focus {
	outline: none;
	box-shadow: none;
} /*Simula un enlace a partir de un botón*/

.usuario-conectado {
	color: black;
	transition: all 0.3s ease;
} 
.usuario-conectado:hover {
	color: var(--color2) !important;
	text-decoration: none;
}
.usuario-conectado:active {
	color: var(--color3) !important;
	text-decoration: none;
} /*Enlace con el nombre del usuario que permite acceder a su página personal*/

.enlace-subir-bajar {
	font-weight: bold;
	color: var(--color2);
	transition: all 0.3s ease;
}
.enlace-subir-bajar:hover {
	text-decoration: none;
	color: var(--color3);
} /*Enlace para desplazarse entre el principio y el final de la página de recopilatorios*/

/* MODALES */

.modal-header {
	background-color: var(--color1);
	border: none;
} /*Cabecera de todos los modales*/

.modal-footer {
	border: none;
} /*Pie de todos los modales*/

.parentesis {
	color: black !important;
} /*En el modal de sugerencia, evita que el paréntesis final adquiera los estilos del año al pasar por encima el ratón*/

.letra-perfil {
	font-weight: bold;
	font-family: 'Shadows Into Light';
	font-size: 1.25em;
} /*Fuente para el modal con el perfil de usuario*/

.swal-modal .swal-text {
    text-align: center;
} /*Centra los mensajes de los modales de Sweet Alert*/


/* PRESENTACIÓN */

.titulo {
	font-size: 8em;
}
.titulo span {
	color: var(--color2);
	text-shadow: 3px 3px 10px var(--color2);
	animation: sombreado 3250ms linear;
}
@keyframes sombreado {
	0% {
		text-shadow: none;
	}
	50% {
		text-shadow: none;
	}
	100% {
		text-shadow: 3px 3px 10px var(--color2);
	}
} /*Animación para que aparezca el sombreado de "Era Pop"*/

.subtitulo-inicio {
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	font-size: 2.5em;
	color: slategray;
	visibility: hidden;
}


/* TOP 3 GENERAL */

.contenedor-top3 {
    position: absolute;
    display: inline-block;
    text-align: right;
    transition: all 1s ease;
} /*Contenedor de las fotos*/

.contenedor1 {
	margin-top: 75px;
	z-index: 2;
}
.contenedor2 {
	top: 300px;
	left: 530px;
	z-index: 1;
}
.contenedor3 {
	top: 610px;
	left: 140px;
} /* Clases aplicadas por el script de jQuery a cada una de las fotos del top 3*/

.sombra-oro {
	box-shadow: 0 0 25px 20px #ffff9e;
}
.sombra-plata {
	box-shadow: 0 0 25px 20px grey;
}
.sombra-bronce {
	box-shadow: 0 0 25px 20px bisque;
} /*Sombras aplicadas por el script de jQuery a los contenedores de las fotos*/

.imagen-top3 {
	height: 400px;
	width: 600px;
	border-radius: 20px;
	transition: all 1s ease;
}

.numero-top3 {
    position: absolute;
    top: 20px;
    color: var(--color2);
	font-weight: bold;
	font-size: 75px;
	font-family: 'Rock Salt', cursive;
	text-shadow: 5px 5px 4px var(--color1);
	transition: all 0.25s ease;
} /*Puesto en la clasificación*/

.numero-oro {
	color: gold;
	text-shadow: 5px 5px 14px yellow;
}
.numero-plata {
    color: silver;
	text-shadow: 5px 5px 4px gainsboro;
}
.numero-bronce {
    color: #CD7F32;
	text-shadow: 5px 5px 4px bisque;
} /*Estilos aplicados a los números de la clasificación por el script de jQuery*/

.estrella-top3 {
	position: absolute;
    top: 10px;
    color: #f0ad4e;
    font-size: 4em;
} /*Estrella que sirve de fondo a la nota media*/
.nota-top3 {
	position: absolute;
	top: 53px;
	color: sienna;
	font-weight: bold;
} /*Nota media en sí*/

.referencia-top3 {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.referencia-top3 a {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25em;
	color: white;
	transition: all 0.25s ease;
}
.referencia-top3 a:hover {
	color: var(--color1);
} /*Enlace que redirige a la web de la que se ha tomado la fotografía*/

.texto-top3 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: powderblue;
    border: 2.5px solid lightblue;
    border-radius: 10px;
    padding: 5px;
    max-width: 87.5%;
    transition: all 1s ease;
}

.cancion-top3 {
	color: var(--color3);
    font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
}

.autor-top3 {
	font-weight: bold;
	font-size: 1.2em;
}

.ano-top3 {
	font-size: 1.2em;
} /*Año*/

.boton-vamos {
	margin-top: 517.5px;
	margin-left: 370px;
	padding: 10px 20px;
}


/* ENCABEZADOS */

header {
	background-color: var(--color1);
}
.violeta-encabezado {
	color: var(--color2);
	transition: all 1s ease;	
}
.violeta-encabezado:hover {
	text-shadow: 4px 2px 5px var(--color2);
} /*Década, año o nombre del usuario; también aplicado a otros textos con clase "display-4" de Bootstrap aunque no sean estrictamente encabezados*/

.enlace-usuario {
	color: var(--color2);
	transition: all 0.1s ease;
} 
.enlace-usuario:hover {
	font-weight: bold;
	text-decoration: none;
	color: var(--color2);
}
.enlace-usuario:active {
	font-weight: bold;
	color: var(--color3);
} /*Enlace para conectarse o para darse de alta*/

.enlace-mensajes {
	color: black;
	transition: all 0.1s ease;
} 
.enlace-mensajes:hover {
	font-weight: bold;
	text-decoration: none;
	color: var(--color2);
}
.enlace-mensajes:active {
	font-weight: bold;
	color: var(--color3);
} /*Enlace para acceder al panel de mensajes*/

.no-leidos {
	display: inline;
	color: crimson;
} /*Indicador de mensajes no leídos en el menú personal*/


/* REGISTRO */ 

.titulo-registro {
	color: slategray;
}
.titulo-registro span {
	color: var(--color2);
	transition: all 1s ease;
}
.titulo-registro span:hover {
	text-shadow: 4px 2px 5px var(--color2);
}

form label, #form-alta-usuario label {
	font-weight: bold;
}

form h6, #form-alta-usuario h6 {
	visibility: hidden;
} /*h6 con un "Hola" como texto que han de estar ocultos para dar espacio*/

form small, #form-alta-usuario small {
	margin-right: 
	padding-left: -100px;
} /*Textos aclaratorios en letra pequeña*/


/* CONEXIÓN */

#icono-usuario {
	display: block;
	position: absolute;
	transform: translate(8px, 7px);
}
#icono-contrasena {
	display: block;
	position: absolute;
	font-size: 1.2em;
	transform: translate(11px, 7px);
} /*Iconos del modal de conexión*/

.form-nombre, .form-contrasena {
	padding-left: 30px;
}


/* PÁGINA PERSONAL */

.boton-controlador {
	position: absolute;
	z-index: 1;
	color: white;
	transition: all 0.25s ease;
	cursor: pointer;	
} /*Falsos botones para que el usuario sepa que a través de los controladores invisibles puede avanzar y retroceder en el carrusel*/

.celda-carrusel {
	max-width: 210px;
}

.control-previo {
	position: absolute;
	top: 44%;
	bottom: 47%;
	transform: translate(-30px, -20px);
}
.control-siguiente {
	position: absolute;
	top: 44%;
	bottom: 47%;
	transform: translate(30px, -20px);
} /*Controladores de los carruseles*/

.avisanos{
	color: var(--color2);
	text-decoration: none;
	transition: all 0.25s ease;
}
.avisanos:hover {
	text-decoration: none;
	color: var(--color3);
} /*Enlace para enviar un correo*/


/* MENSAJES */

.mensaje-leido {
	background-color: aliceblue;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 15px;
}

.mensaje-no-leido {
	background-color: mistyrose;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 15px;
	cursor: pointer;
	transition: all 0.25s ease;
}
.mensaje-no-leido:active {
	background-color: aliceblue;
	border-radius: 25px;
	padding: 20px;
	margin-bottom: 15px;
}

.letra-mensajes {
	font-size: 0.75em;
	transition: all 0.1s ease;
}
.letra-mensajes:hover {
	font-weight: bold;
	cursor: pointer;
} /*Botones de borrado de los mensajes*/


/* TOP 15 DÉCADAS */

.relleno-der {
	padding-right: 12.5%;
}

.letras-top15 {
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	font-size: 2em;
	color: var(--color2);
}

.numero-decada {
	font-size: 1.75em;
	text-shadow: 2px 2px 5px var(--color3);
}

.ancho-100px {
	width: 100px;
}

.autor-decada {
	color: black;
	font-weight: bold;
	transition: all 0.3s ease;
}


/* VÍDEOS */

.numero {
	color: var(--color2);
	font-weight: bold;
	font-size: 50px;
	font-family: 'Rock Salt', cursive;
	padding: 10px;
	text-shadow: 5px 5px 4px var(--color1);
	transition: all 0.2s ease;
} /*Número que indica el puesto de la canción en la clasificación*/
.numero-grande {
	font-size: 60px;
	text-shadow: 5px 5px 14px var(--color3);
	overflow: visible;
} /*Aspecto que adquiere gracias al script de jQuery*/

.cancion {
	transition: all 0.2s ease;
}
.cancion-grande {
	color: var(--color3);
	font-weight: bold;
	font-size: 1.2em;
} /*Aspecto que adquiere el título de la canción gracias al script de jQuery*/

.autor-recopilatorio {
	color: black;
	font-weight: bold;
	transition: all 0.3s ease;
}
.autor-recopilatorio:hover {
	color: black;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 5px 5px 5px cadetblue;
	transform: translateX(-3px);
} /*Enlace a RYM*/

.mundo {
	padding-bottom: 2.5px;
} /*Imagen del mundo que acompaña a la localización de la banda*/

.boton-recopilame {
	color: var(--color1);
	border: 1px solid;
	border-radius: 2.5px;
	border-color: var(--color1);
	height: 24px;
	padding: 0px 5px 25px 5px;
	transition: all 0.5s ease;
}
.boton-recopilame:hover {
	color: white;
	border-radius: 2.5px;
	background-color: var(--color2);
	border-color: var(--color2);
	height: 24px;
	padding-top: 0px;
	cursor: pointer;
	box-shadow: 0 0 2.5px 2.5px var(--color1);
	animation: parpadeo 1s infinite linear;
}
@keyframes parpadeo {
	0% {
		box-shadow: 0 0 2.5px 2.5px var(--color1);
	}
	25% {
		box-shadow: 0 0 2.5px 2.5px var(--color2);
	}
	50% {
		box-shadow: 0 0 2.5px 2.5px var(--color3);
	}
	75% {
		box-shadow: 0 0 2.5px 2.5px var(--color2);
	}
	100% {
		box-shadow: 0 0 2.5px 2.5px var(--color1);
	}
} /* Botón para añadir la canción a una lista de reproducción*/

#lista-spotify {
	background-color: pink;
}

.agregar-cancion {
	cursor: pointer;
	float: right;
	margin-top: 3px;
}

/* COMENTARIOS */

.letra-comentarios {
	font-size: 0.75em;
	transition: all 0.1s ease;
}
.letra-comentarios:hover {
	font-weight: bold;
	cursor: pointer;
} /*Botones de respuesta y borrado de los comentarios*/

.pseudo-caja {
	border-top: hidden;
	border-left: hidden;
	border-right: hidden;
	border-bottom: 1px solid lightslategray;
	background-color: aliceblue;
}
.pseudo-caja:focus {
	outline: none;
	box-shadow: none;
} /*Caja de texto para las respuestas a los mensajes principales*/

.margen-izq1 {
	margin-left: 20.25px;
}
.margen-izq2 {
	margin-left: 2.5rem!important;
}

.comentarios-ancho {
	max-width: 514px;
	overflow-x: scroll;
} /*Ancho máximo del panel de comentarios para evitar que las cajas de respuesta de los comentarios hijos desfiguren la presentación en la página de décadas*/

.comentarios-decadas {
	max-height: 205px;
	overflow-y: scroll;
}
.comentarios-decadas2 {
	max-height: 393px;
	overflow-y: scroll;
} /*Tamaño del panel de comentarios en función de que el usuario esté conectado o no*/

.relleno-izq {
	margin-left: 2.5rem!important;
}


/* FIN DE SESION */ 

.nombre-fin {
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	color: var(--color2);
} /*Nombre de la web*/

.imagen-fin {
	width: 300px;
	border-radius: 20px;
} /*Foto de Bowie señalando los botones*/


/* PIE */

.nombre-web {
	font-size: 1.2em;
	color: var(--color2);
}

.enlace-pie {
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.25em;
	text-decoration: none;
	color: white;
	transition: all 0.2s ease;
	cursor: pointer;
}
.enlace-pie:hover {
	text-decoration: none;
	color: var(--color2);
	font-weight: bold;
	transform: scale(1.1, 1.1);
}
.enlace-pie:active {
	color: var(--color3);
}
.enlace-pie:focus {
	outline: none;
	box-shadow: none;
}

.vinetas {
	font-family: 'Rock Salt', cursive;
	color: var(--color2);
} /*Numeración del modal con el aviso legal*/

.tachado {
    text-decoration: line-through;
    color: var(--color1);
}