<IfModule mod_rewrite.c>

	RewriteEngine on
	ErrorDocument 404 http://localhost/recopilatorios/php/web/mvc/error/index

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	RewriteRule ^(.*)/(.*) index.php?controlador=$1&accion=$2
	
</IfModule>